 .u-section-1 {
  background-image: none;
  min-height: 581px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 581px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 25px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-family: "Abril Fatface";
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 116px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 27px 78px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 27px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-image-1 {
  min-height: 581px;
  background-image: url("images/79a166cae1e1953d7412322bdd241f2b7185f7586729d551526d697604e1f0e46358ef61962a3afb34bf7398387710d809aebca6b265f4a615c0d8_1280.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 479px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
  }

  .u-section-1 .u-image-1 {
    min-height: 479px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 367px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 367px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 600px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 415px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 315px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: url("images/Inspirational-design-quotes-for-web-designers-and-graphic-designers-Meta1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 726px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 599px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 459px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 344px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 217px;
  }
}.u-block-5b16-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-5b16-3 {
  position: absolute;
  left: 0;
}

.u-block-5b16-4 {
  position: absolute;
  right: 0;
}

 .u-section-3-1 {
  background-image: none;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 1704px;
}

.u-section-3-1 .u-text-1 {
  font-family: "Abril Fatface";
  margin: 28px auto 0;
}

.u-section-3-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 27px auto 0;
  padding: 10px 52px 10px 51px;
}

.u-section-3-1 .u-image-1 {
  filter: brightness(0.6);
  width: 453px;
  height: 301px;
  margin: 28px auto 0 78px;
}

.u-section-3-1 .u-image-2 {
  filter: brightness(0.6);
  width: 453px;
  height: 301px;
  margin: -301px 78px 0 auto;
}

.u-section-3-1 .u-image-3 {
  filter: brightness(0.6);
  width: 453px;
  height: 301px;
  margin: 78px auto 0 78px;
}

.u-section-3-1 .u-image-4 {
  filter: brightness(0.6);
  width: 453px;
  height: 301px;
  margin: -301px 78px 0 auto;
}

.u-section-3-1 .u-image-5 {
  filter: brightness(0.6);
  width: 453px;
  height: 301px;
  margin: 78px 78px 0 auto;
}

.u-section-3-1 .u-image-6 {
  filter: brightness(0.6);
  width: 453px;
  height: 301px;
  margin: -301px auto 0 78px;
}

.u-section-3-1 .u-image-7 {
  filter: brightness(0.6);
  width: 453px;
  height: 301px;
  margin: 78px auto 0 78px;
}

.u-section-3-1 .u-image-8 {
  filter: brightness(0.6);
  width: 453px;
  height: 301px;
  margin: -301px 78px 60px auto;
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 1572px;
  }

  .u-section-3-1 .u-image-1 {
    width: 340px;
    height: 226px;
    margin-left: 0;
  }

  .u-section-3-1 .u-image-2 {
    width: 340px;
    height: 226px;
    margin-top: -226px;
    margin-right: 0;
  }

  .u-section-3-1 .u-image-3 {
    width: 340px;
    height: 226px;
    margin-left: 0;
  }

  .u-section-3-1 .u-image-4 {
    width: 340px;
    height: 226px;
    margin-top: -226px;
    margin-right: 0;
  }

  .u-section-3-1 .u-image-5 {
    width: 340px;
    height: 226px;
    margin-right: 0;
  }

  .u-section-3-1 .u-image-6 {
    width: 340px;
    height: 226px;
    margin-top: -226px;
    margin-left: 0;
  }

  .u-section-3-1 .u-image-7 {
    width: 340px;
    height: 226px;
    margin-left: 0;
  }

  .u-section-3-1 .u-image-8 {
    width: 340px;
    height: 226px;
    margin-top: -226px;
    margin-right: 0;
  }
}

.u-section-3-1 .u-btn-1,
.u-section-3-1 .u-btn-1:before,
.u-section-3-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-3-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-3-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-3-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}